@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nova+Slim');
@import url('https://fonts.googleapis.com/css?family=Overlock:400,400i,700,700i,900,900i&subset=latin-ext');

html, body {
  min-height: 100%;
}

body {
  // background: #c8e4ca;
  background: linear-gradient(to bottom, #FAFFD1, #A1FFCE);
  color: #009688;
  // font-family: 'Megrim', cursive;

  // font-family: 'Poiret One', cursive;
  // letter-spacing: 1px;
  // font-size: 16pt;

  // font-family: 'Nova Slim', cursive;
  font-family: 'Overlock', cursive;
  font-size: 14pt;
  font-weight: 400;
  padding-bottom: 24px;
}

h1, button, h3 {
  font-family: 'Megrim', cursive;
  // letter-spacing: 0;
}

h1 {
  padding-top: 10px;
}

h2 {
  text-align: center;
  color: #b5ddc7;
  margin-bottom: 16px;
}

a, a:hover {
  text-decoration: none;
  color: #009688;
}

header {
  text-align: center;
  & nav{
    & ul {
      list-style-type: none;
      padding-left: 0;
      & li {
        display: inline-block;
        padding: 12px;
      }
    }
  }
}

.index-composition-wrapper {
  border: 1px solid #b5ddc7;
  border-radius: 24px 10px 24px 10px;
  text-align: center;
  padding: 16px 10px 16px 10px;
  margin-bottom: 12px;
  // height: 102px;
  p {
    margin-bottom: 0;
  }
}

.user-index-composition-wrapper {
  border: 1px solid #b5ddc7;
  border-radius: 24px 10px 24px 10px;
  text-align: center;
  padding: 0;
  margin-bottom: 12px;
  h3 {
    padding: 16px 10px 0 10px;
  }
  p {
    margin-bottom: 0;
  }
}

.show-title {
  text-align: center;
}

.show-sound-wrapper {
  text-align: center;
  height: 156px;
  opacity: 0.9;
  .slider {
    opacity: 0.5;
  }
}

.show-data {
  display: block;
}

.show-buttons {
  padding-top: 26px;
}

.sounds-mixer {
  padding-top: 38px;
}

.sound-wrapper {
  text-align: center;
  height: 116px;
  opacity: 0.9;
  label {
    width: 65px;
    height: 60px;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .slider {
    // border: 1px solid red;
  }
}

.show-sound-icon-holder {
  width: 65px;
  height: 60px;
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
}

.title-group {
  text-align: center;
}

.private-group {
  text-align: center;
  input {
    height: 16px;
    display: none;
    &:checked {
      backgrund-color: red;
      + label {
        &:after {
          content: '✔';
          font-size: 9px;
          padding-bottom: 2px;
          color:white;
          height: 16px;
          width: 16px;
          border: 1px solid #009688;
          border-radius: .25rem;
          background: #009688;
          display: block;
          position: absolute;
          left: -20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  label {
    margin-left: 5px;
    position: relative;
    user-select: none;
    cursor: pointer;
    &:before {
      content: '';
      height: 16px;
      width: 16px;
      border: 1px solid #a3c6c2;
      border-radius: .25rem;
      background: white;
      display: block;
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.padlock{
  width: 25px;
  height: 25px;
  opacity: 0.6;
  padding-top: 5px;
  // background: yellow;
  float: right;
}

.zen-button{
  display: block;
  margin: auto;
  background-color: #009688;
  color: white;
}

.edit-button {
  a {
    color: white;
  }
}

.zen-input {
  border: 1px solid #a3c6c2;
}

.demo-p {
  text-align: center;
}
